extends layout

block content
  .container.mt-5.text-center
    h1.text-danger 500 - Internal Server Error
    p.lead Something went wrong on our end. Please try again later.
    a.btn.btn-primary.mt-4(href="/") Return Home
